.title{
    font-size: 15pt;
}
.p-top{
    padding-top: 5%;
}
.p-bottom{
    padding-bottom: 10%;
}

.hidden{
    display: none; 
}

.show{
    display:block;
}
body{
    user-select: none;
    font-size: 15pt;
    margin: 0;
    /* height: 100%; 
    overflow: hidden */
}